#banner
  .banner_content
  %h1 File Cabinet
  %p Your life's work. Organized, always.
  %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Roof party id mixtape jianbing gochujang keffiyeh helvetica gluten-free knausgaard pickled ut eu shabby chic pop-up minim. 90's synth enim, fingerstache elit nisi succulents paleo XOXO humblebrag. Synth chambray roof party, hashtag ex ipsum irure jianbing skateboard artisan. Meditation godard tilde church-key vaporware selfies shabby chic. Qui ethical intelligentsia portland reprehenderit, meditation blog godard master cleanse salvia jean shorts prism swag semiotics. Vape anim proident eu small batch keffiyeh stumptown qui. Food truck dolore vinyl, disrupt swag fam synth ugh microdosing squid.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
